@keyframes pulse {
  0% {
    visibility: hidden;
    transform: scale(0);
  }

  100% {
    visibility: visible;
    transform: scale(1);
  }
}

@keyframes fadeLeft {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(15px);
  }

  100% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes widthLeft {
  0% {
    visibility: hidden;
    transform: translateX(15px);
  }

  100% {
    visibility: visible;
    transform: translateX(0);
  }
}